$fondo: transparent;
$img_repsonsive: 100%;
$color-p: white;
$color_fucsia: #E91E63;
$title-h1: 70px;
$font_weight: 700;
$padding_reset: 0;
$fondo_principal: #FFFFFF;
$alto-caja: 100vh;
$box_sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$description_boxes: 60%;